<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
</head>
<body>

 <%- include('partials/header') %>

  <main>
<h1>Tickets</h1>
  <ul>
    <% for(let i = 0; i < tickets.length; i++) { %>
      <li>
        <strong>Auteur :</strong> <%= tickets[i].auteur.name %><br>
        <strong>Titre :</strong> <%= tickets[i].titre %><br>
        <strong>Description :</strong> <%= tickets[i].description %><br>
        <strong>Création :</strong> <%= tickets[i].creation %><br>
        <strong>Etat :</strong> <%= tickets[i].etat %>
      </li>
           <a href="/tickets/<%= tickets[i].id %>">Détails</a>
    <% } %>
   
  </ul>
  </main>

 <%- include('partials/footer') %>

</body>
</html>