<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
   <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

 <%- include('partials/header') %>

  <main>
<h1>Tickets</h1>
 <ul>
  <% tickets.forEach(ticket => { %>
    <li>
      <strong>Auteur :</strong> <%= ticket.auteur.name %><br>
      <strong>Titre :</strong> 
      <a href="/tickets/<%= ticket._id %>"><%= ticket.titre %></a><br>  
      <strong>Description :</strong> <%= ticket.description %><br>
      <strong>Création :</strong> <%= ticket.creation.toLocaleString() %><br>
      <strong>Etat :</strong> <%= ticket.etat %>
    </li>
  <% }) %>
</ul>
  </main>

 <%- include('partials/footer') %>

</body>
</html>